<h3> Attendee details </h3><br><br>
<form action = "/attendee/update" method = POST>
  <%=inserted.id%> <br><br>
  <input type = "hidden" name="id" value ="<%=inserted.id%>">
  Attendee name <br>
  <input type="text" placeholder = <%=inserted.name%> name="name">
  <br>
  Event<br>
  <% for(var i=0;i<events.length;i++){%>
  <input type = "radio" name = "event1" value = "<%=events[i].name%>"><%=events[i].name%><br>
  <% } %>
  <br><br>
  <input type="submit" value="Update">
</form>