<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Event Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/event">Events</a></li>
            <li><a href="/attendee">Attendee</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <h2>Attendee Details</h2>
      <%=inserted.id%> <br><br>
      <input type = "hidden" name="id" value ="<%=inserted.id%>">
      <label for="name">Name:</label>
      <input type="name" id="name" name="name" placeholder= <%=inserted.name%>><br><br>
      <label for="event">Select Event:</label>
      <select name="event1" id="event1">
        <% for(var i=0;i<events.length;i++){%>
        <option value="<%=events[i].name%>"><%=events[i].name%></option>
        <% } %>
      </select><br><br>
      <input type="button" class="update_btn" attendeeid="<%=inserted.id%>" value="Update">
    </div>
  </body>
</html>
<script>
$(document).ready(function(){
  $(".update_btn").click(function(){
    var attendeeid = $(this).attr("attendeeid");
    var name = $("#name").val();
    var event1 = $("#event1").val();
    
            $.ajax({
          method: "PUT",
          url: "/attendee/" +attendeeid,
          data : {name:name, type:event1},
          
          })
          .success(function( msg ) {
          if(msg =="Success")
          {
            alert("Updated");
            window.location.replace("http://localhost:1337/attendee");
          }
          
          }).fail(function(msg) {
            console.log("Failed", msg);
          });
  });
});
</script>