<h3> Event details </h3><br><br>
<form action = "/event/update" method = POST>
  <%=inserted.id%> <br><br>
  <input type = "hidden" name="id" value ="<%=inserted.id%>">
  Event name <br>
  <input type="text" placeholder = <%=inserted.name%> name="name">
  <br>
  Location:<br>
  <input type="text" placeholder = <%=inserted.location%> name="location">
  <br>
  Date:<br>
  <input type = "text" placeholder = <%=inserted.date%> name="date">
  <br><br>
  <input type="submit" value="Update">
</form>